<h1><%= "#{current_user.short_name}'s Profile  " %>   </h1>

<%= image_tag current_user.gravatar_url %>
<h3>個人簡介:<br/>
<%= @profile.bio%></h3>

<h2>Topics:</h2>
<% current_user.topics.each do |t|  %>
 <h3><%= link_to t.name, topic_path(t) %></h3>
<% end %>
<h2>Comments:</h2>
<% current_user.comments.each do |c| %>
  <h4><%= c.name %></h4>
<% end %>
<h2>Favorite:</h2>
<% current_user.favorites.each do |f| %>
  <h3><%= link_to f.name, topic_path(f) %></h3>
<% end %>
<h2>Likes:</h2>
<% current_user.like_topics.each do |l| %>
  <h3><%= link_to l.name, topic_path(l) %></h3>
<% end %>
<h2>Subscribes:</h2>
<% current_user.subscribe_topics.each do |s| %>
  <h3><%= link_to s.name, topic_path(s) %></h3>
<% end %>

<h2>Friends</h2>
<ul>
  <% for friendship in current_user.friendships %>
    <% if friendship.confirmed %>
      <li>
        <%= friendship.friend.short_name %>
        (<%= link_to "Remove", friendship_path(friendship, :remove => "remove"), :method => :delete %>)
      </li>
    <% end %>
  <% end %>
</ul>

<h2>Add Friends</h2>
<ul>
  <% for friendship in current_user.friendships %>
    <% unless friendship.confirmed%>
      <li>
        <%= friendship.friend.short_name %>
        (<%= link_to "Cancel", friendship_path(friendship), :method => :delete %>)
      </li>
    <% end %>
  <% end %>
</ul>

<h2>Friended by Users</h2>
<ul>
  <% for user in current_user.inverse_friends  %>
    <% unless user.friendships.find_by(:friend_id => current_user).confirmed %>
      <li>
        <%= user.short_name %>
        (<%= link_to "Consent", friendship_path(:id => current_user, :friend_id => user), :method => :patch %>)
      </li>
    <% end %>
  <% end %>
</ul>

<p><%= link_to "Back to index", topics_path, :class => "btn btn-info" %></p>