  <% if @topic.errors.any? %>
      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

  <!-- name->topic -->
  <div class="form-group">
    <%= f.label :name, "Topic" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.file_field :avatar %>
    <% if @topic.avatar.exists? %>
      <%= check_box_tag "remove_image", "1" %> Remove Image
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :photos  %>
      <%= file_field_tag "photos[]", type: :file, multiple: true %>
      <% if @topic.photos.exists? %>
        <%= check_box_tag "remove_photos", "1" %> Updtae Photos
    <% end %>
  </div>
  <!-- category->category -->
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category_ids, Category.all.map{ |c| [c.name, c.id]}, {}, :multiple => true, :class => "form-control" %>
  </div>

<div class="form-group">
  <%= f.label :status, "Status" %>
  <%= f.select :status, [["Published","published"],["Draft","draft"], ["Scheduled","scheduled"]] , {}, :class => "form-control" %>
</div>

  <!-- description->content -->
  <div class="form-group">
    <%= f.label :description, "Content" %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <script>
    $('#topic_category_ids').select2();
  </script>