<h1>Forum's List</h1>

<%= link_to "New Topic", new_topic_path, :class => "btn btn-info" %>
排序：
<%= link_to "最後回覆時間", topics_path(:order => "updated_at")%>
<%= link_to "最多人回覆", topics_path(:order => "comments_count")%>

<%=  link_to "About", about_topics_path, :class => "btn btn-info pull-right" %>

<table class="table">
  <tr>
    <td class="label-success">
      <strong>標題</strong>
    </td>
    <td>
      <strong>分類</strong>
    </td>
    <td class="label-info">
      <strong>回覆數</strong>
    </td>
    <td>
      <strong>最後回覆時間</strong>
    </td>
    <td class="label-primary">
    </td>
    <td class="label-danger">
    </td>
  </tr>
  <% @topics.each do |t| %>
  <tr>
      <td>
        <%= link_to t.name, topic_path(t) %>
      </td>
      <td>
        <% t.categories.each do |c| %>
          <%= c.name %>
        <% end %>
      </td>
      <td>
        <strong><%= t.comments.size%></strong>
      </td>
      <td>
        <%= t.updated_at.localtime %>
      </td>
      <td>
        <%= link_to "Edit", edit_topic_path(t), :class => "btn btn-primary" %>
      </td>
      <td>
        <%= link_to "Delete", topic_path(t), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-danger" %>
      </td>
  </tr>
  <% end %>
</table>
<%= paginate @topics, :theme => 'twitter-bootstrap-3' %>