<h1>Forum's List</h1>

<%= link_to "New Topic", new_topic_path, :class => "btn btn-info" %>
排序：
<%= link_to "最後回覆時間", topics_path(:order => "updated_at")%>
<%= link_to "最多人回覆", topics_path(:order => "comments_count")%>
<%= link_to "最多瀏覽數", topics_path(:order => "views_count")%>

<%=  link_to "About", about_topics_path, :class => "btn btn-info pull-right" %>

<div>
  <%= form_tag topics_path, :method => :get do %>
    分類：
    <%= select_tag "Category", options_from_collection_for_select(Category.all, "id", "name"), :class => "form-control",:include_blank => "Please Select"   %>
    <%= submit_tag "Select", :class => "btn btn-info" %>
  <% end %>
</div>

<table class="table">
  <tr>
    <td class="text-center">
      <strong>標題</strong>
    </td>
    <td class="text-center">
      <strong>分類</strong>
    </td>
    <td class="text-center">
      <strong>作者</strong>
    </td>
    <td class="text-center">
      <strong>回覆數/瀏覽數</strong>
    </td>
    <td class="text-center">
      <strong>最後回覆時間</strong>
    </td>
    <td class="text-center">
      <strong>回覆者</strong>
    </td>
    <td class="text-center">
      <strong>編輯</strong>
    </td>
    <td class="text-center">
      <strong>刪除</strong>
    </td>
  </tr>
  <% @topics.each do |t| %>
    <% if t.status == "published" || (user_signed_in? && (current_user.is_admin? || current_user.is_author?(t))) %>
      <tr>
        <td>
          <%= link_to t.name, topic_path(t) %>
        </td>
        <td class="text-center">
          <% t.categories.each do |c| %>
            <%= c.name %>
          <% end %>
        </td>
        <td class="text-center">
          <%= t.user.short_name%>
        </td>
        <td class="text-center">
          <strong><%= "#{t.comments.size}/#{t.views_count}"%></strong>
        </td>
        <td class="text-center">
          <%= t.updated_at.localtime.strftime('%b %d %Y %H:%M') %>
        </td>
        <td class="text-center">
          <% t.comments.group(:user_id).each do |c| %>
            <%= c.user.short_name %>
          <% end %>
        </td>
        <td class="text-center">
        <% if user_signed_in? %>
          <% if current_user.is_author?(t) %>
            <%= link_to "Edit", edit_topic_path(t), :class => "btn btn-primary" %>
          <% end %>
        <% end %>
        </td>
        <td class="text-center">
        <% if user_signed_in? %>
          <% if current_user.is_author?(t) || current_user.is_admin? %>
            <%= link_to "Delete", topic_path(t), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-danger" %>
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= paginate @topics, :theme => 'twitter-bootstrap-3' %>

  <script>
    $('#Category').select2();
  </script>