<%= content_for :head do %>
  <%= tag(:meta, :content => @topic.name, :property => "og:title") %>
  <%= tag(:meta, :content => "article", :property => "og:type") %>
  <%= tag(:meta, :content => topic_url(@topic), :property => "og:url") %>
  <%= tag(:meta, :content => "Forum practice", :property => "og:site_name") %>
<% end %>
<h2><%= @topic.name%></h2>
<div class="favorite pull-right">
<% if user_signed_in? %>
  <span id="favorite-block"%>
    <%= render "favorite" %>
  </span>
<% end %>
</div>
<div class="like pull-right">
<% if user_signed_in? %>
  <span id="like-block"%>
    <%= render "like" %>
  </span>
<% end %>
</div>
<div class="like pull-right">
<% if user_signed_in? %>
  <span id="subscribe-block"%>
    <%= render "subscribe" %>
  </span>
<% end %>
</div>

<div class="facebook-like_and_share">
<iframe src="https://www.facebook.com/plugins/like.php?href=<%= topic_url(@topic) %>&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1742195576039423" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
<hr>
<% if @topic.avatar.exists? %>
  <%= image_tag(@topic.avatar.url(:medium)) %>
<% end %>
<hr>
<h4>
<% @topic.categories.each do |c| %>
  <%= c.name %>
<% end %>
<hr>
</h4>
<h3><%= @topic.description %></h3>
<hr>
<%= fa_icon("thumbs-up 2x")%>
<h5>
<% @topic.likes_by.each do |l| %>
  <%= l.short_name %>
<% end %>
</h5>
<%= link_to "Back to Index", topics_path, :class => "btn btn-success" %>
<table class="table">
  <% @comments.each do |c|%>
    <% if c.status == "published" || (user_signed_in? && (current_user.is_role? || current_user.is_author?(c))) %>
    <tr id="comment-<%=c.id%>">
      <td>
        <%= c.name %>
      </td>
      <% if c.avatar.exists? %>
        <%= image_tag(c.avatar.url(:medium)) %>
      <% end %>
      <% if user_signed_in? %>
      <td>
        <% if current_user.is_author?(c) %>
          <%= link_to "Edit", topic_path(@topic, :e_id => c), :class => "btn btn-primary" %>
        <% end %>
      </td>
      <td>
        <% if current_user.is_author?(c) || current_user.is_role? %>
          <%= link_to "Delete", topic_comment_path(@topic, c), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure?"}, :remote => true %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</table>
<hr>
<!-- Comment's new and edit -->
<%= form_for [@topic, @comment], :class => "form" do |f| %>
  <div class="form-group ">
  <%= f.label :name, "comment" %>
  <%= f.text_field :name, :class => "form-control"  %>
  </div>

    <div class="form-group">
    <%= f.file_field :avatar %>
    <% if @comment.avatar.exists? %>
      <%= check_box_tag "remove_image", "1" %> Remove Image
    <% end %>
  </div>

  <div class="form-group">
  <%= f.label :status, "Status" %>
  <%= f.select :status, [["Published","published"],["Draft","draft"]] %>
  </div>

  <%= f.submit "Save", :class => "btn btn-primary" %>
  <%= link_to "Cancel", :back, :class=>"btn btn-default" %>
<% end %>