<%= content_for :head do %>
  <%= tag(:meta, :content => @topic.name, :property => "og:title") %>
  <%= tag(:meta, :content => "article", :property => "og:type") %>
  <%= tag(:meta, :content => topic_url(@topic), :property => "og:url") %>
  <%= tag(:meta, :content => "Forum practice", :property => "og:site_name") %>
<% end %>
<h2><%= @topic.name%></h2>
<div class="favorite pull-right">
<% if user_signed_in? %>
  <span id="favorite-block"%>
    <%= render "favorite" %>
  </span>
<% end %>
</div>
<div class="like pull-right">
<% if user_signed_in? %>
  <span id="like-block"%>
    <%= render "like" %>
  </span>
<% end %>
</div>
<div class="like pull-right">
<% if user_signed_in? %>
  <span id="subscribe-block"%>
    <%= render "subscribe" %>
  </span>
<% end %>
</div>

<div class="facebook-like_and_share">
<iframe src="https://www.facebook.com/plugins/like.php?href=<%= topic_url(@topic) %>&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1742195576039423" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
<% if @topic.avatar.exists? %>
  <%= image_tag(@topic.avatar.url(:medium)) %>
  <hr>
<% end %>
<% if @topic.photos.exists?%>
  <% @topic.photos.each do |image| %>
    <%= image_tag (image.photo.url(:medium))%>
  <% end %>
  <hr>
<% end %>
<h4>
<% @topic.categories.each do |c| %>
  <%= c.name %>
<% end %>
<hr>
</h4>
<h3><%= @topic.description %></h3>

<% @topic.tags.each do |tag| %>
  <h4><%= link_to "##{tag.name}", topic_path(@topic) %></h4>
<% end %>
<hr>
<%= fa_icon("thumbs-up 2x")%>
<h5>
<% @topic.likes_by.each do |l| %>
  <%= l.short_name %>
<% end %>
</h5>
<%= link_to "Back to Index", topics_path, :class => "btn btn-success" %>
<hr>
<% if @topic.written_by(current_user) %>
<div id="comments" >
  <%= render 'topic_comments/comment' %>
</div>
<% end %>